<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/test/index.html">Tests</a></li>
    </ul>
    <h3 class="muted">Brunch with fruits</h3>
  </div>

  <hr>

  <div class="row">
    <div class="span8">
      <h4>Hello World!</h4>
    </div>
  </div>

  <hr>

  <div class="footer">
    <p><a href="https://github.com/askalyuk/brunch-fruits">open source</a></p>
  </div>

</div>